{erl_opts, [
    debug_info,
    {i, "apps"},
    warn_unused_vars
]}.

{deps, [
    {cowboy, "2.10.0"}
]}.

{i, "apps"}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{lib_dirs, ["apps"]}.
{sub_dirs, [
    "apps/madwallet",
]}.

{relx, [
    {release, {sentinel, "0.1"}, [
        kernel,
        sasl,
        ssl,
        os_mon,
        crypto,
        cowboy
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_src, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {overlay, [
                {copy, "config/logger.config", "releases/0.1/config/logger.config"}
            ]}
        ]}
    ]},
    {dev, [
        {relx, [
            {dev_mode, false},
            {debug_info, keep},
            {include_erts, false},
            {include_src, true},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {overlay, [
                {copy, "config/logger.config", "releases/0.1/config/logger.config"}
            ]}
        ]}
    ]}
]}.

{plugins, [
    erlfmt,
    rebar3_lint
]}.

{erlfmt, [
    write,
    {print_width, 120},
    {files, [
        "apps/*/{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "elvis.config",
        "config/sys.config.template"
    ]}
]}.

{elvis_output_format, colors}.
